:root {
    --user-list-gap: 0.625rem;
}

.user-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--user-list-gap);
    column-gap: var(--user-list-gap);
    &-winner {
        counter-increment: item 3;
        & .user-card {
            counter-reset: 3;
        }
    }
}
