.devider {
    --bs-border-color: rgba(var(--primary-rgb), 0.2);
    &-horizontal {
        width: 100%;
        height: fit-content;
        border-top: 0.0625rem solid var(--bs-border-color);
    }
    &-vertical {
        width: fit-content;
        height: 100%;
        border-left: 0.0625rem solid var(--bs-border-color);
    }
    &--light {
        --bs-border-color: var(--grey);
    }
}
