// colors
@import "./components/colors";

// utility
@import "./utilities/utility";

// normalize
@import "./utilities/normalize";

// components
@import "../scss/components/animations";
@import "../scss/components/badge";
@import "../scss/components/bottom";
@import "../scss/components/buttons";
@import "../scss/components/devider";
@import "../scss/components/forms";
@import "../scss/components/header";
@import "../scss/components/hint";
@import "../scss/components/menu";
@import "../scss/components/preloader";
@import "../scss/components/spinners";
@import "../scss/components/stretched";
@import "../scss/components/swiper";
@import "../scss/components/tabs";
@import "../scss/components/tag";
@import "../scss/components/text";
@import "../scss/components/tooltip";

// responsive design
:root {
    --scrollbar-thumb-color: var(--black-rgb);
    font-size: calc(100vw / 430 * 16);
    @media (min-width: 768px) {
        font-size: calc(100vw / 768 * 16);
    }
    @media (min-width: 992px) {
        font-size: calc(100vw / 992 * 16);
    }
    @media (min-width: 1200px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1440px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1600px) {
        font-size: calc(100vw / 1440 * 16);
    }
    @media (min-width: 1920px) {
        font-size: calc(100vw / 1600 * 16);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.313rem;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--scrollbar-thumb-color), 0.5);
    border-radius: 3.125rem;
    cursor: grabbing;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background: radial-gradient(89% 48% at 50% 8%, rgb(var(--primary-rgb)), rgb(var(--primary-light-rgb)) 100%);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/elements/root/pattern.png");
        background-repeat: repeat;
        background-size: auto;
        background-position: center top;
        background-attachment: fixed;
    }
}

img {
    content-visibility: auto;
}

.section {
    contain: layout;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 1.875rem 0 0 0;
    overflow-x: clip;
    transition: background-image 0.6s ease;
    &-max {
        max-height: 100svh;
    }
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 1.875rem 0;
}

.wow {
    visibility: hidden;
}

#mysprite {
    display: none;
}
